#logo{
    margin-left: -80px;
}

.left_side{
    margin-left: 30px;
}
.right_side {
    margin-left: 420px;
}

span {
    color: red;
}
/* Navbar Styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-input {
    display: none;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
}

.toggle-slider::before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.toggle-input:checked+.toggle-slider {
    background-color: aqua;
}

.toggle-input:checked+.toggle-slider::before {
    transform: translateX(26px);
}